body {
  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.btn {
  width: 130px;
  border: 2px solid #333;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  border-radius: 4px;
  color: #333;
  text-align: center;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  color: #fff;
  background-color: #333;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592818;
  border-color: #592818;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592818;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);  
}
.back-to-position.to-left {
  transform: translateX(150px);  
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/* HEADER*/
header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9;
}
header > .inner {
  height: 120px;
}
header .icon {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub_menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  
}
header .inner .sub_menu ul.menu {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
header .inner .sub_menu .menu li {
  position: relative;
}
header .inner .sub_menu .menu li::before {
  content: "";
  display: block; /* 생략 가능 position absolute 있으면 block 이라 */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .inner .sub_menu .menu li:first-child::before {
  display: none;
}
header .inner .sub_menu .menu li a {
  font-size: 12px;
  color: #656565;
  padding: 11px 16px;
  display: block;
}
header .inner .sub_menu .menu li a:hover {
  color: #000;
}
header .inner .search {
  height: 34px;
  position: relative;
}
header .inner .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .inner .search input:focus {
  width: 190px;
  border-color: #669900;

}
header .inner .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 4px;
  transition: .4s;
}
header .inner .search.focused .material-icons {
  opacity: 0;
}
header .inner .main_menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
header .inner .main_menu .item:hover {
  background-color: #2c2a29;
  border-radius: 6px 6px 0 0;
  color: #669900;
}
header .inner .main_menu .item .item__name {
  padding: 10px 20px 34px 20px;
}
header .inner .main_menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .inner .main_menu .item:hover .item__contents {
  display: block;
}
header .inner .main_menu .item .item__contents .contents__list {
  background-color: #2c2a29; 
}
header .inner .main_menu .item .item__contents .contents__list > ul {
  display: flex;
  padding: 20px 0;
}
header .inner .main_menu .item .item__contents .contents__list > ul > li {
  width: 220px;
}
header .inner .main_menu .item .item__contents .contents__list > ul > li h4 {
  padding: 3px 0px 12px 0px;
  font-size: 14px;
  color: #fff;
}
header .inner .main_menu .item .item__contents .contents__list > ul >li > ul > li {
  font-size: 12px;
  padding: 5px 0;
  color: #999;
  cursor: pointer;
}
header .inner .main_menu .item .item__contents .contents__list > ul >li > ul > li:hover {
  color: #669900;
}
header .inner .main_menu .item .item__contents .contents__add {
  background-image: url(../images/main_menu_pattern.jpg);
  padding: 20px 0;
  font-size: 12px;
}

header .inner .main_menu .item .item__contents .contents__add .inner h4 {
  color: #999;
  font-weight: 700;
}

header .inner .main_menu .item .item__contents .contents__add .inner p{
  padding: 4px 0 12px;
}
header .badges {
  position: absolute;
  top: 140px;
  right: 12px;
}
header .badges .badge {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 15%);
  cursor: pointer;
}
/*FOOTER*/
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .lines {
  display: flex;
  justify-content: center;
}
footer .lines li {
  position: relative;
}
footer .lines li::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #999;
}
footer .lines li:first-child:before {
  display: none;
}
footer .lines li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
}
footer .lines li a.green {
  color: #669900;
}
footer .buttons {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
footer .buttons .btn {
  margin: 0 5px;
  font-size: 12px;
}
footer .infos {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 10px;
}
footer .infos span {
  color: #999;
  margin: 0 15px
}
footer .copyrights {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #999;
  
}
footer img {
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 20px;
}